@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');
body{
    font-family:'Open sans', sans-serif;
}
.bg-color-name-title{
    background-color: #676767;
}
header{
    margin: 0;
}
.logo{
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}
.heading{
    margin-left: 55px;
}
.name{
    color: #fff;
    font-weight: 700;
}
.title{
    margin-bottom: 90px;
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
}